.resizable-panel-wrapper {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  display: flex;
}

.resizable-panel-wrapper.left {
  flex-direction: row;
}

.resizable-panel-wrapper.right {
  flex-direction: row-reverse;
}

.resizable-panel-content {
  flex: 1;
  height: 100%;
  overflow: hidden;
  min-width: 0;
}

.resize-handle {
  width: 6px;
  height: 100%;
  cursor: col-resize;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  background: #e0e0e0;
  transition: background-color 0.2s;
  border: none !important;
}

.resize-handle:hover {
  background-color: #c8c8c8;
}

.resize-handle.active {
  background-color: #b8b8b8;
}

.resize-handle-line {
  width: 3px;
  height: 50px;
  background-color: #aaa;
  border-radius: 3px;
  transition: all 0.2s;
}

.resize-handle:hover .resize-handle-line,
.resize-handle.active .resize-handle-line {
  background-color: #888;
  height: 70px;
}

/* Cursor global durante resize */
body.resizing {
  cursor: col-resize !important;
  user-select: none;
}

body.resizing * {
  cursor: col-resize !important;
  user-select: none;
}
